<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>portfolio</title>
<link rel="stylesheet" type="text/css" href="{% static 'spectrum_app/css2/style.css' %}">
</head>
<body>

<!-- navigation bar -->
<header>
<nav>
<div class="row">
<img src="{% static 'spectrum_app/images/logo.png' %}" class="logo">
    <div class="menu">
    
      <ul>
      <dir class="menu-toggle"></dir>
        <li class="get"><a href="#">MENU</a></li>
        <li class="other"><a href="main.html">HOME</a></li>
        <li class="other"><a href="gallery.html">GALLERY</a></li>
        <li class="other"><a href="#">FILMS</a></li>
        <li class="other"><a href="abtus.html">ABOUT US </a></li>
        <li class="other"><a href="#">BOOK US</a></li>
      </ul>
  
  </div>
</div>
</nav>
</header>
<div style="height:90px;width: 100%"></div>

<!--album-->
<div style="margin-left:100px;margin-right:100px">
<img src="{{image1.url}}" height="600px" width="100%">
<p class="heading-other"><I>Shantharam & Thrupti</I></p>
	  <p class="wquote">"We document handpicked elements and maoments that are packed with love,to render your wedding film as illustrious as acontemporary cinematic record.
	  The footage is edited meticulously to priovide with an everlasting treasured testament of your dream story.The ageless quality of our images compliment the energy of our films."</p>
<p class="wquote"><b>Photographers:</b>Vikram Gowda,Anvith Acharya,Kiran</p>
<p class="wquote"><b>Date:</b>1st March 2020</p>
<p class="wquote"><b>Venue:</b>Shri Dharmasthala Sabha Bhavana,Belthangady</p>
<table border=0 width=100%>
<tr>
<td colspan=2>
     <img src="{{image1.url}}" height="600px" width="100%">
</td>
</tr>
<tr>
<td>
    <img src="{{image1.url}}" height="400px" width="100%">
</td>
<td>
    <img src="{{image1.url}}" height="400px" width="100%">
</td>
</tr>
<tr>
<td colspan=2>
     <img src="{{image1.url}}" height="600px" width="100%">
</td>
</tr>
<tr>
<td colspan=2>
     <img src="{{image1.url}}" height="600px" width="100%">
</td>
</tr>
<tr>
<td>
    <img src="{{image1.url}}" height="400px" width="100%">
</td>
<td>
    <img src="{{image1.url}}" height="400px" width="100%">
</td>
</tr>
<tr>
<td colspan=2>
<div style="height: 50px;width: 100%;background:gray"></div>
</td>
</tr>
<tr>
<td>
<div style="height: 50px;width: 100%;"></div>
<div style="text-align:left;">
<a href="photo1.html"><b> << Previous Gallery<br>Nayana & Anandh </b></a>
</div>
</td>
<td><br><br>
<div style="text-align:right;">
<a href="photo2.html"><b>Next Gallery >> <br>aaaaa & bbbbb </b></a>
</div>
</td>
</tr>
</table>
<div style="height: 50px;width: 100%;"></div>

</div>
</body>
</html>